.header.item{
    font-size: 120%;
}

.ui.header {
    margin: 20px;
}

.ui.link.cards {
    margin: 20px;
}

.ui.modal {
    font-size: 150%;
}

.ui.primary.button{
    margin: 20px;
}

.ui.inverted.segment{
    margin: 0px;
}

.ui.modal {
    max-height: 80%;
    height: 80%;
}

.scrolling.content {
    max-height: 100%;
}

.right.menu {
    text-align: right;
}

#search {
    margin-left: 20px;
}

#unitSelect {
    margin-left: 230px;
}

.ui.reply.form {
    margin-left: 20px;
}

.ui.modal.error {
    max-height: 80%;
    height: 10%;
}

.g-signin2 > div{
    margin-right: 0px;
    float:right;
  }

#search {
    max-height: 50%;
    position: absolute;
    min-width: 200px;
    min-height: 30px;
    width: 200px;
    bottom: 0px;
}