.header.item{
    font-size: 120%;
}

.ui.header {
    margin: 20px;
}

.ui.link.cards {
    margin: 20px;
}

.ui.modal {
    font-size: 150%;
}

.ui.primary.button{
    margin: 20px;
}

.ui.inverted.segment{
    margin: 0px;
}

.ui.modal {
    max-height: 80%;
    height: 80%;
}

.scrolling.content {
    max-height: 100%;
}

.right.menu {
    text-align: right;
}

#search {
    margin-left: 20px;
}

#unitSelect {
    margin-left: 20px;
}